apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - postgres-init-configmap.yml

  - deployments/postgres-deployment.yml
  - deployments/rabbitmq-deployment.yml
  - deployments/eureka-server-deployment.yml
  - deployments/config-server-deployment.yml

  - services/postgres-service.yml
  - services/rabbitmq-service.yml
  - services/eureka-server-service.yml
  - services/config-server-service.yml

  - deployments/api-gateway-deployment.yml
  - deployments/user-service-deployment.yml
  - deployments/club-service-deployment.yml
  - deployments/reservation-service-deployment.yml
  - deployments/review-service-deployment.yml
  - deployments/notification-service-deployment.yml

  - services/api-gateway-service.yml
  - services/user-service-service.yml
  - services/club-service-service.yml
  - services/reservation-service-service.yml
  - services/review-service-service.yml
  - services/notification-service-service.yml

  - istio/istio-gateway.yml
  - istio/istio-virtual-service.yml
  - istio/istio-destination-rule.yml

configMapGenerator:
  - name: config-repo
    files:
      - config-repo/application.yml
      - config-repo/api-gateway.yml
      - config-repo/eureka-server.yml
      - config-repo/user-service.yml
      - config-repo/club-service.yml
      - config-repo/reservation-service.yml
      - config-repo/review-service.yml
      - config-repo/notification-service.yml