apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: padel-api-route
spec:
  hosts:
  - "*"
  gateways:
  - padel-gateway
  http:
  - route:
    - destination:
        host: api-gateway
        port:
          number: 8080